* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 2%;
}

p {
    margin-bottom: 2%;
}

.cover {
    background-color: #fee3d8;
    width: 37%;
    padding: 1% 2%;
    margin: 4% auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin-top: 2%;
}


th {
    font-size: large;
    text-align: left;
    
}



button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #bfee62;
    font-weight: 700;
}